.menu{
    display:flex;
    justify-content:space-between;
    background-color:black;
    padding:15px;
    font-family:sans-serif;
    font-size:20px;
    color:white;
}
body{  
    margin:20px; 
background-color:purple;
}
.grid{
    display:flex;
    flex-wrap:wrap;
    margin:50px;
}
.origami{
    border-radius:20px;
    background-color:pink;
    margin:20px;
    padding:30px;
    width:310px;
    font-family:fantasy;
}
